@model RealsourceMVC.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@{
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}

@*<h2>@ViewBag.Title.</h2>*@


    @*<h4>Enter your email.</h4>
        <hr />*@
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

    <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div class="auth-form-transparent text-left p-3">
            <div class="brand-logo">
                <img src="/Content/images/logo.svg" alt="logo">
            </div>
            <h4>Forgot your password?</h4>
            <section id="ForgotPasswordForm">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "pt-3", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group has-danger">
                        @Html.LabelFor(m => m.Email)
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <span class="input-group-text bg-transparent border-right-0">
                                    <i class="fa fa-user text-primary"></i>
                                </span>
                            </div>
                            @*<input type="text" class="form-control form-control-lg border-left-0" id="exampleInputEmail" placeholder="Username">*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg border-left-0" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error mt-2 text-danger" })
                        @*<label id="cname-error" class="error mt-2 text-danger" for="@Model.Email">This field is required.</label>*@
                    </div>
                    <div class="my-3">
                        <button class="btn btn-block btn-primary btn-lg" type="submit">SEND EMAIL</button>
                    </div>
                }
            </section>
            <div class="text-center mt-4 font-weight-light">
                 @Html.ActionLink("Back to Log in", "Login")
            </div>
        </div>
    </div>
    <div class="col-lg-6 login-half-bg d-flex flex-row">
        <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2021  All rights reserved.</p>
    </div>




    @*<div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>*@


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
