@using RealsourceMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{
    Layout = null;
}
@*@Styles.Render("~/Content/login/")*@

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Source</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Scripts/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/Scripts/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Scripts/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/images/favicon.png" />
</head>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
            <div class="row flex-grow">
                <div class="col-lg-6 d-flex align-items-center justify-content-center">
                    <div class="auth-form-transparent text-left p-3">
                        <div class="brand-logo">
                            <img src="/Content/images/logo.svg" alt="logo">
                        </div>
                        <h4>Welcome back!</h4>
                        <h6 class="font-weight-light">Happy to see you again!</h6>
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "pt-3", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group has-danger">
                                    @Html.LabelFor(m => m.Email)
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="fa fa-user text-primary"></i>
                                            </span>
                                        </div>
                                        @*<input type="text" class="form-control form-control-lg border-left-0" id="exampleInputEmail" placeholder="Username">*@
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg border-left-0" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error mt-2 text-danger" })
                                    @*<label id="cname-error" class="error mt-2 text-danger" for="@Model.Email">This field is required.</label>*@
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password)
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="fa fa-lock text-primary"></i>
                                            </span>
                                        </div>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg border-left-0" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="custom-checkbox">
                                        <label class="form-check-label text-muted">
                                            @Html.CheckBoxFor(m => m.RememberMe) Remember me?
                                            @*@Html.LabelFor(m => m.RememberMe)*@
                                        </label>
                                    </div>
                                    @Html.ActionLink("Forgot password?", "ForgotPassword", new { @class = "auth-link text-black" })
                                </div>
                                <div class="my-3">
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">LOGIN</button>
                                </div>
                                <section id="socialLoginForm">
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                </section>
                                
                                <div class="text-center mt-4 font-weight-light">
                                    Don't have an account? @Html.ActionLink("Register as a new user", "Register")
                                </div>

                                @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                            }
                        </section>
                    </div>
                </div>
                <div class="col-lg-6 login-half-bg d-flex flex-row">
                    <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2021  All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- plugins:js -->
<script src="/Scripts/vendors/js/vendor.bundle.base.js"></script>
<script src="/Scripts/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="/Scripts/js/off-canvas.js"></script>
<script src="/Scripts/js/hoverable-collapse.js"></script>
<script src="/Scripts/js/misc.js"></script>
<script src="/Scripts/js/settings.js"></script>
<script src="/Scripts/js/todolist.js"></script>
<!-- endinject -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/Scripts/login/")*@
}
